
div#container , div#sub_container{
	width : 768px ;
}

div#banner{
	width : 768px ;
}

div#container_2{}


/* サブサイドバー */
div#links{display : none ;}

/* メインサイドバー */
div#links-left{
	width : 191px ;
	float : left ;	
}

/* コンテンツ */
div#content{
	width : 577px ; box-sizing:border-box;
	border-right-width : 0 !important ;
	float : right ;
}

*html div#content { width : 576px !important; }
*+html div#content { width : 576px !important; }

/*　フッター　*/
div#footer{
	width : 768px ;
}


